html {
    margin: 1em 3em;
}

a {
    text-decoration: none;
}

#nav ul {
    list-style: none;
    margin: 0;
    /*background: #D9CCA2;*/
}

#nav ul li {
    display: inline-block;
    /*background: #D9979D;*/
    margin: 0em 0em 0em 1em;
}

li.selected a {
    color: #D95218;
}

.thumbnail img {
    width: 250px;
}
