html {
    /*margin: 1em 3em;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Sorts Mill Goudy', 'Baskerville', Georgia, serif;
}

#wrapper {
    /*background: #B1D9CD;*/
    margin: 1em auto;
    max-width: 1200px;
}

h1 {
    /*background: #D9CCA2;*/
    display: block;
    font-weight: normal;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

h1 a {
    color: #000000;
}

.portfolio-item h2 {
    font-weight: normal;
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

#nav {
    /*background: red;*/
    height: 2em;
    margin-bottom: 2em;
}

#nav a {
    /*color: #000000;*/
}

#nav ul {
    list-style: none;
    margin: 0;
    /*background: #D9CCA2;*/
    float: right;
}

#nav ul li:last-child a {
    /*background: #ff0000;*/
    color: #878787;
}

#nav ul li {
    display: inline-block;
    /*background: #B5D9A2;*/
    margin: 0em 0em 0em 1em;
}

li a {
    color: #000000;
}

li.selected a {
    color: #D95218;
}


/*-----------Portfolio---------------------------------------*/

.portfolio-item {
    display: block;
    float: left;
    background: #D8DABC;
    /*background: #DDDDDD;*/
    /*object-fit: cover;*/
    height: 250px;
    color: #ffffff;
    position: relative;
    margin: 0 0 1.5% 0;
}

@media screen and (min-width: 0px) {
    .portfolio-item {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .portfolio-item {
        width: 49.25%;
    }
    .portfolio-item:nth-child(odd) {
        margin-right: 1.5%;
        background: #000000;
    }
}

.portfolio-description {
    /*z-index: 3;*/
    position: absolute;
    /*top: -250px;*/
    bottom: 0px;
    display: block;
    float: left;
    width: 94%;
    padding: 3% 3% 0% 3%;
    /*padding: 15px;*/
    background: rgba(0, 0, 0, 0.75);
    /*opacity: 0.75;*/
    margin: 0px;
}

.thumbnail {
    /*float: left;*/
    /*    width: 250px;
    height: 250px;*/
    height: 100%;
    overflow: hidden;
    background: #000000;
    /*width: 1000px;*/
}

.thumbnail img {
    /*width: 100%;*/
    /*height: 50%;*/
    width: 100%;
}

.portfolio-description a {
    z-index: 20;
    width: 100%;
    height: 100%;
}


/*-----------Footer---------------------------------------*/

#footer {
    text-align: center;
    margin-top: 2em;
    font-size: 0.8em;
}
