body {}

html {
    font-family: 'Sorts Mill Goudy', 'Baskerville', Georgia, serif;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
/*    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;*/
    padding: 0 0 1em 0;
    margin: 0;
}

p a {
    color: #D95218;
}

.italic {
    font-style: italic;
}

#wrapper {
    display: block;
    /*float: left;*/
    margin: 0em auto;
    max-width: 1200px;
    padding: 0;
    /*margin: 0;*/
}

h1 {
    /*background: #D9CCA2;*/
    /*display: block;*/
    font-weight: normal;
    /*float: left;*/
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

h2 {
    font-weight: normal;
}

h2 a {
    color: #000000;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
    margin-bottom: 0.75em;
    margin-top: 1.5em;
}

h3 a {
    color: #000000;
}

h3 a:visited {
    color: #000000;
}

h1 a {
    color: #000000;
}

.portfolio-description p {
    padding: 0;
    margin: 0;
    /*line-height: 1.5em;*/
    text-align: center;
}

.portfolio-description h2 {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    /*line-height: 1em;*/
}

.portfolio-item p {
    /*font-family: 'Open Sans', sans-serif;*/
    padding: 0;
    margin: 0 0 1.5% 0;
}

#nav {
    margin-top: 0.75em;
    /*background-color: red;*/
}

#nav a:hover {
    color: #D95218;
}

#nav a {
    /*color: #000000;*/
    /*color: #878787;*/
}

#nav ul li:last-child a {
    /*background: #ff0000;*/
    /*color: #878787;*/
}

#nav ul li {
    display: inline-block;
    /*background: #B5D9A2;*/
    margin: 0em 0em 0em 1em;
    font-size: 1.2em;
}

li a {
    color: #000000;
}

li.selected a {
    color: #D95218;
}

.post-content {
    margin-bottom: 1em;
}

.date {
    margin-bottom: 1em;
}


#abstract {
    font-size: 0.15;
    text-align: center;
    line-height: 1.25;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0;
    max-width: 500px;
}

#abstract-title {
    font-size: 1.75;
    /*color: red;*/
    margin-bottom: 0.5em;
}























































/*-----------Portfolio---------------------------------------*/

.portfolio-item {
    display: block;
    float: left;
    background: #D8DABC;
    height: 300px;
    color: #ffffff;
    position: relative;
}

































































/*.portfolio-item {
    height: 200px;
}*/


/*.portfolio-item:nth-child(5n+1) {
    height: 400px;
}
*/

.portfolio-item a {
    color: #ffffff;
}

.portfolio-item {
    width: 100%;
    margin: 0 0 3% 0;
}

#nav ul {
    /*position: absolute;*/
    /*top: -250px;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*list-style: none;*/
    margin: 0;
    /*background: #D9CCA2;*/
    /*float: right;*/
    /*color: #878787;*/
}

#contact {
    /*background: #95D2C7;*/
    width: 100px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

#contact a {
    /*text-decoration: underline;*/
    color: #D95218;
}

#contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#about {
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
    /*background: #D2C5A3;*/
    /*float: left;*/
}

#page p {
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
    margin-bottom: 1em;
    /*background: #95D2C7;*/
}

#blog-pagination a {
    font-size: 1.5em;
    color: #D95218;
}

.blog-post {
    margin-bottom: 3em;
}

.blog-post h2 {
    margin-bottom: 0em;
}

#blog-wrapper {
    margin-bottom: -3em;
}

#page img {
    width: 100%;
    margin-bottom: 1em;
}

#narrow {
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 650px) {
    h1 {
        width: 9em;
        margin: auto;
    }
}

@media screen and (max-width: 769px) {
    h1 {
        /*background: blue;*/
        /*width: 15em;*/
        /*margin: auto;*/
        /*text-align: center;*/
    }
    #nav {
        text-align: center;
        /*background: #BA6965;*/
        /*height: 7em;*/
        margin-bottom: 0.5em;
    }
    #nav ul {
        text-align: left;
        /*float: left;*/
        /*background: rgba(255, 255, 255, 0.7);*/
        padding: 0.5em 0;
        margin: 0;
    }
    #nav ul li {
        width: 100%;
        /*float: left;*/
        padding: 0.25em 0;
        margin: 0;
    }
}

@media screen and (min-width: 770px) {
    #nav {
        /*background: #BA6965;*/
        height: 2em;
        margin-bottom: 2em;
        position: relative;
    }
    #nav ul {
        /*background: rgba(0, 255, 255, 0.7);*/
        position: absolute;
        bottom: 0px;
        right: 0px;
        list-style: none;
    }
}

@media screen and (min-width: 500px) {
    .portfolio-item {
        width: 100%;
        margin: 0 0 1.5% 0;
    }
}

@media screen and (min-width: 800px) {
    #wrapper {
        padding: 0 1em 0 1em;
    }
}

@media screen and (min-width: 900px) {
    #wrapper {
        padding: 0 2em 0 2em;
    }
    .portfolio-item {
        width: 49.75%;
        margin: 0 0 0.5% 0;
    }
    .portfolio-item:nth-child(odd) {
        margin-right: 0.5%;
        background: #000000;
    }
    #nav {
        margin-top: 1.5em;
    }
    #nav ul {
        position: absolute;
        /*top: -250px;*/
        bottom: 0px;
        right: 0px;
        list-style: none;
        margin: 0;
        /*background: #D9CCA2;*/
        float: right;
        /*color: #878787;*/
    }
}

.portfolio-description {
    /*z-index: 3;*/
    /*background-color: red;*/
    position: absolute;
    /*top: -250px;*/
    bottom: 0px;
    display: block;
    float: left;
    width: 94%;
    padding: 1.5% 3% 0% 3%;
    /*padding: 15px;*/
    /*background: rgba(175, 215, 0, 1);*/
    /*color: #000000;*/
    background: rgba(255, 255, 255, 1);
    color: #000000;
    /*opacity: 0.75;*/
    margin: 0 0 0 0;
}

.thumbnail {
    /*float: left;*/
    /*    width: 250px;
    height: 250px;*/
    height: 100%;
    overflow: hidden;
    background: #000000;
    /*width: 1000px;*/
}

.thumbnail img {
    /*width: 100%;*/
    /*height: 50%;*/
    width: 100%;
}

.portfolio-description a {
    z-index: 20;
    width: 100%;
    height: 100%;
}




































































/*-----------Footer---------------------------------------*/

#footer {
    float: left;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 0.8em;
    text-align: center;
}

.math {
    /*border: solid 1px #000000;*/
    max-width: 100%;
    overflow: auto;
    margin-bottom: 1em;
}

pre {
    overflow: auto;
    margin: 0 auto 1.5em auto;
    max-width: 650px;
    background: #F2F2F2;
    padding: 25px;
    line-height: 1.4em;
    /*  -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;*/
}

code {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', courier, monospace;
    font-size: 0.85em;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    body {
        -webkit-text-size-adjust: none;
    }
}