img.caption-margin {
    /*display: inline-block;*/
    /*max-width: 300px;*/
    /*margin: 2em auto;*/
    margin-bottom: 1em;
    /*padding: 0;*/
}

img.bedard {
    /*display: inline-block;*/
    max-width: 300px;
    margin: 2em auto -2em auto;
}

.bedard-caption {
    display: block;
    /*background: yellow;*/
    /*border: 1px solid red;*/
    max-width: 300px;
    font-family: 'EBG08-It';
    margin: 0 auto;
    /*float: left;*/
    font-size: 0.8em;
    text-align: right;
    line-height: 1.25em;
}

.bedard-caption a {
    box-shadow: inset 0 -0.09rem 0 0 #fff, inset 0 -0.15rem 0 0 #000;
}