/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.codebox {
    max-width: 650px;
    margin: 0 auto 0 auto;
    text-align: left;
}

pre {
    overflow: auto;
    margin: 2rem auto 2rem auto;
    max-width: 650px;
    background: #F2F2F2;
    padding: 1.5rem 2rem 1.75rem 2rem;
    line-height: 1em;
    /*  -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;*/
}

code {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', courier, monospace;
    font-size: 0.85em;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    /*font-style: italic;*/
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #2A58D3;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    /*boolean*/
    color: #259298;
    /*color: #585cf6;*/
    color: #C17101;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #C17101;
}

.supercollider .hljs-built_in {
    color: #734AC6;
}

.hljs-built_in,
.hljs-class .hljs-title {
    /*console.*/
    color: #000000;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #C47A12;
}

.hljs-type {
    color: #2A58D3;
}

.hljs-number {
    color: #5F9A00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    /*The names of functions*/
    color: #734AC6;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

.hljs-punctuation {
    color: #C17101;
}
.hljs-p5-function, .hljs-p5-function a {
    /*    color: #D81C56;
    color: #C92D5E;*/
    /*color: #000000;*/
}
.hljs-p5-function a:hover {
    /*color: #D81C56;*/
    /*color: #C92D5E;*/
}
.hljs-p5-value {
    color: #00a1d3;
    /*color: #C17101;*/
}