@font-face {
    font-family: 'EBG12-Re';
    src: url(./fonts/EBGaramond12-Regular.eot );
    src: url('./fonts/EBGaramond12-Regular.ttf') format('truetype'),
    url('./fonts/EBGaramond12-Regular.woff') format('woff');
}
@font-face {
    font-family: "EBG08-Re";
    src: url(./fonts/EBGaramond08-Regular.eot );
    src: url('./fonts/EBGaramond08-Regular.ttf') format('truetype'),
    url('./fonts/EBGaramond08-Regular.woff') format('woff');
}
@font-face {
    font-family: "EBG08-SC";
    src: url(./fonts/EBGaramondSC08-Regular.eot );
    src: url('./fonts/EBGaramondSC08-Regular.ttf') format('truetype'),
    url('./fonts/EBGaramondSC08-Regular.woff') format('woff');
}
@font-face {
    font-family: "EBG12-SC";
    src: url(./fonts/EBGaramondSC12-Regular.eot );
    src: url('./fonts/EBGaramondSC12-Regular.ttf') format('truetype'),
    url('./fonts/EBGaramondSC12-Regular.woff') format('woff');
}
@font-face {
    font-family: "EBG12-It";
    src: url(./fonts/EBGaramond12-Italic.eot );
    src: url('./fonts/EBGaramond12-Italic.ttf') format('truetype'),
    url('./fonts/EBGaramond12-Italic.woff') format('woff');
}
@font-face {
    font-family: "EBG08-It";
    src: url(./fonts/EBGaramond08-Italic.eot );
    src: url('./fonts/EBGaramond08-Italic.ttf') format('truetype'),
    url('./fonts/EBGaramond08-Italic.woff') format('woff');
}
@font-face {
    font-family: "ATT4425";
    src: url('./fonts/ATT4425.ttf') format('truetype');
}

html {
    font-family: 'EBG12-Re', Garamond, Georgia, serif;
    -moz-font-feature-settings: "liga", "calt", "xtex";
    -webkit-font-feature-settings: "liga", "calt", "xtex";
    -ms-font-feature-settings: "liga", "xtex";
    -o-font-feature-settings: "liga", "xtex";
    font-feature-settings: "cv11", "liga", "xtex";
    font-variant-ligatures: discretionary-ligatures;
    -moz-font-variant-ligatures: discretionary-ligatures;
    -webkit-font-variant-ligatures: discretionary-ligatures;
    /*font-variant-ligatures: historical-ligatures;*/
    font-size: 1.3em;
    padding: 0em 2em 0 2em;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    margin: 0em auto;
    max-width: 1300px;
    padding: 0;
    counter-reset: sidenote-counter;
}

a {
    color: #000000;
    text-decoration: none;
}

article a {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 0 #fff, inset 0 -4px 0 0 #000;
    /*box-shadow: inset 0 -0.02em 0 0 #fff, inset 0 -0.05em 0 0 #000;*/
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff,
    2px 0 0 #fff, -2px 0 0 #fff,
    3px 0 0 #fff, -3px 0 0 #fff,
    0px -1px 0 #fff, 0px -2px 0 #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff,
    -2px -1px 0 #fff, 2px -1px 0 #fff;
    /*   These two extra text-shadows work for italic "f"s but not for roman "pp"s.
    -2px -2px 0 #fff, 2px -2px 0 #fff;*/
}

article a:hover {
    /*box-shadow: inset 0 -1px 0 0 #fff, inset 0 -2px 0 0 #000, inset 0 -3px 0 0 #fff, inset 0 -4px 0 0 #000;*/
}

#description {
    margin-top: 1em;
    font-family: 'EBG08-Re';
    font-size: 0.8em;
    text-align: center;
}

.cleardescenders {
    padding-left: 1px;
    text-shadow: -1px 0px 0 #fff, 1px 0px 0 #fff,
    -1px 1px 0 #fff, 0px 1px 0 #fff, 1px 1px 0 #fff,
    -2px 1px 0 #fff, 2px 1px 0 #fff,
    -1px 2px 0 #fff, 0px 2px 0 #fff, 1px 2px 0 #fff,
    -2px 2px 0 #fff, 2px 2px 0 #fff;
}
img {
    /*vertical-align: middle;*/
    padding: 0;
    margin: 0;
    display: block;
}



span.nobreak {
    white-space: nowrap;
}

.italic {
    font-family: 'EBG12-It';
}

article a .italic {
    color: #000000;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 0 #fff, inset 0 -4px 0 0 #000;
    /*box-shadow: inset 0 -0.02em 0 0 #fff, inset 0 -0.05em 0 0 #000;*/
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff,
    2px 0 0 #fff, -2px 0 0 #fff,
    3px 0 0 #fff, -3px 0 0 #fff,
    0px -1px 0 #fff, 0px -2px 0 #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff,
    -2px -1px 0 #fff, 2px -1px 0 #fff,
    -2px -2px 0 #fff, 2px -2px 0 #fff,
    -1px -2px 0 #fff, 1px -2px 0 #fff;
}

.italic8 {
    font-family: 'EBG08-It';
}

.ATT {
    font-family: 'ATT4425';
}

.Incon {
    font-family: 'Inconsolata';
    line-height: 1em;
}

.Silentype {
    font-family: "Silentype";
}

.superscript {
    -moz-font-feature-settings: "sups", "calt", "xtex";
    -webkit-font-feature-settings: "sups", "calt", "xtex";
    -ms-font-feature-settings: "sups", "calt", "xtex";
    -o-font-feature-settings: "sups", "calt", "xtex";
    font-feature-settings: "sups", "calt", "xtex";
}

.lnum {
    -moz-font-feature-settings: "lnum", "calt", "xtex";
    -webkit-font-feature-settings: "lnum", "calt", "xtex";
    -ms-font-feature-settings: "lnum", "xtex";
    -o-font-feature-settings: "lnum", "xtex";
    font-feature-settings: "lnum", "xtex";
}

.drop-caps {
    font-size: 4.5em;
    font-family: 'ATT4425';
    padding-right: 5px;
    float: left;
    line-height: 0.75;
    padding-top: 0.1em;
    padding-left: -0.1em;
    margin-left: -0.04em;
    text-indent: 0;
}

canvas {
    display: block;
    margin: 0 auto;
}

.small-caps {
    font-style: normal;
    font-family: 'EBG12-SC';
}

.small-caps8 {
    font-style: normal;
    font-family: 'EBG08-SC';
}

p {
    /*    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;*/
    display: block;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
    line-height: 1.3;
    text-align: left;
    text-indent: 2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

.introduction {
    text-indent: 0em;
    max-width: 550px;
    margin: 0em auto 0em auto;
    padding: 2em 0;
    clear: both;
}

.inline-code {
    font-family: 'Inconsolata', courier, monospace;
    /*background-color: #ECECEC;*/
}

.noindent {
    text-indent: 0em;
}

h1 {
    /*background: #D9CCA2;*/
    display: block;
    font-weight: normal;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    padding: 1em 0 1em 0;
}

h1 img {
    height: 1em;
    padding-right: 0.05em;
    display: inline-block;
    /*vertical-align: middle;*/
}

h2 {
    font-weight: normal;
    font-family: 'EBG12-SC';
    font-size: 2em;
    line-height: 1em;
    /*margin: 0;*/
    /*padding: 0;*/
    /*margin-top: 1em;*/
    padding-top: 0.5em;
    /*padding-bottom: 0.5em;*/
}
article h2 {
    text-align: center;
    padding-top: 1em;
    margin: 0 auto;
    max-width: 570px;
}

.with-date {
    margin-bottom: 0em;
    padding-bottom: 0em;
}

h2 a {
    color: #000000;
    text-decoration: none;
    box-shadow: unset;
    text-shadow: unset;
}

h3 {
    /*clear: both;*/
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

h3 a {
    color: #000000;
    text-decoration: none;
}

h3 a:visited {
    color: #000000;
}

h1 a {
    color: #000000;
}

.date {
    font-family: 'EBG08-Re';
    font-size: 0.8em;
    margin-bottom: 3em;
    margin-top: 0em;
    padding-top: 0em;
    line-height: 1em;
    text-align: center;
}

#abstract {
    font-size: 0.15;
    text-align: center;
    line-height: 1.25;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0;
    max-width: 500px;
}

#abstract-title {
    font-size: 1.75;
    /*color: red;*/
    margin-bottom: 0.5em;
}

article {
    clear: both;
    /*padding-top: 0.15em;*/
    /*margin-top: 1em;*/
}

article p {

    /*margin-bottom: 1em;*/
    /*background: #95D2C7;*/
    /*background-color: rgba(0, 0, 255, 0.1);*/
}

article ul.dash {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    line-height: 1.3;
    padding-left: 2em;
    list-style-type: '\2014';
    font-family: 'EBG12-Re', Garamond, Georgia, serif;
    box-sizing: border-box;
    /*background-color: rgba(255, 0, 0, 0.1);*/
}

article ul.dash>li {
    padding-left: 0.75em;
    /*display: block;*/
    /*background-color: rgba(0, 0, 255, 0.2);*/
    /*text-indent: -2em;*/
}

article img {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.ornament img {
    max-width: 85px;
    padding-top: 1em;
    margin: 0 auto;
}

#ornament-001 {
    max-width: 125px;
    /*max-height: 30px;*/
    margin: 2em auto 1em auto;
    /*padding-bottom: 1em;*/
}

#ornament-003 img {
    max-width: 60px;
    clear: both;
    padding-top: 1em;
    margin: 0em auto 0em auto;
    /*padding-bottom: 1em;*/
}

#narrow {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 1em;
}

#footer {

    font-family: 'EBG08-Re';
    float: left;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 0.8em;
    text-align: center;
}

.math {
    /*border: solid 1px #000000;*/
    max-width: 100%;
    overflow: auto;
    /*margin-bottom: 1em;*/
    margin: 0.5em 0;
    clear: both;
}