@media screen and (max-width: 550px) {
    body {
        padding: 0 0.5rem;
    }
    .portfolio-item {

        margin: 0 0 0.5rem 0;
    }
    .sidenote, .marginnote, .sidenote-left, .marginnote-left {
        /*margin-right: 2rem;*/
        /*max-width: 100%;*/
        /*max-width: 90%;*/
        margin-left: 0;
        /*padding-right: 1rem;*/
        /*margin-right: 34.5%*/
    }
    .margin-toggle:checked+.sidenote,
    .margin-toggle:checked+.sidenote-left,
    .margin-toggle:checked+.marginnote {
        left: 0rem;
        margin-left: 0;
    }
    nav {
        margin: 0;
        padding: 0;
        width: 100%;
        /*padding-bottom: 8rem;*/
        text-align: center;
    }
    nav ul li:nth-child(1), nav ul li:nth-child(2) {
        /*border-bottom: 2px solid black;*/
        box-shadow: 0 1.5px 0 #000000;
    }
    nav ul li:nth-child(1), nav ul li:nth-child(2) {
        /*border-bottom: 2px solid black;*/
        line-height: 2rem;
        padding-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    nav ul li:nth-child(3), nav ul li:nth-child(4) {
        /*border-bottom: 2px solid black;*/
        line-height: 2rem;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    nav ul li:nth-child(2n+1) {
        /*border-right: 2px solid black;*/
        box-shadow: 1.5px 0px 0 #000000;
        /*box-sizing: border-box;*/
    }
    nav ul li:nth-child(1) {
        box-shadow: 0 1.5px 0 #000000, 1.5px 0px 0 #000000;
    }
    nav ul {
        display: block;
        width: 100%;
        /*border-top: 2px solid black;*/
        /*border-bottom: 2px solid black;*/
        box-shadow: 0 1.5px 0 #000000, 0 -1.5px 0 #000000;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 2rem;
        /*float: right;*/
        /*vertical-align: middle;*/
    }
    nav ul li {
        display: block;
        float: left;
        /*line-height: 3rem;*/
        width: 50%;
        /*margin: 0.5rem 0;*/
        margin: 0;
        padding: 0;
        text-align: center;
    }
    h1 {
        /*width: 100%;*/
        width: 70%;
        /*padding: 0 5rem;*/
        /*float: left;*/
        line-height: 1.75rem;
        /*text-align: center;*/
        /*height: 6rem;*/
        margin: 1.5rem auto;
        margin-left: 15%;
        /*margin-top: 1rem;*/
        /*margin-bottom: 1rem;*/
    }

    .portfolio-banner {
        min-width: 50%;
    }
}

@media screen and (max-width: 950px) {
    .portfolio-banner {
        background-color: white;
        position: absolute;
        top: 1.5rem;
        padding: 2rem;
        left: 50%;
        /*min-width: 65%;*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .portfolio-description, .portfolio-banner h2 {
        margin: 0 auto;
        text-align: center;
    }
    .portfolio-banner h2 {
        margin-bottom: 1rem;
    }
    .portfolio-item {
        height: 565px;
        overflow: hidden;
    }
    .thumbnail {
        /*height: 1000px;*/
        /*        position: relative;
        overflow: hidden;*/
        display: inline-block;
        position: relative;
        right: -50%;
    }
    .thumbnail img {
        position: relative;
        left: -50%;
        /*margin-left: 50%;*/
        /*transform: translateX(-50%);*/
        /*position: absolute;*/
        /*height: 600px;*/
        width: 1000px;
        /*        top: 0;
        left: -9999px;
        right: -9999px;*/
        /*margin: auto;*/
    }
}

@media screen and (min-width: 376px) and (max-width: 550px) {
    /*    body {
        padding: 0 1rem;
    }
    .margin-toggle:checked+.sidenote,
    .margin-toggle:checked+.sidenote-left,
    .margin-toggle:checked+.marginnote {
        left: 0rem;
        margin-left: 0;
    }*/
}

@media screen and (min-width: 551px) and (max-width: 750px) {
    /*    body {
        padding: 0 2rem;
    }*/
}
@media screen and (min-width: 551px) and (max-width: 950px) {
    body {
        padding: 0 2rem;
    }
    .mosaic {
        line-height: 1.3;
        /*padding-top: 3rem;*/
    }
    nav {
        margin: 0;
        padding: 0;
        height: 11rem;
        width: 100%;
        padding-bottom: 0rem;
        text-align: center;
    }
    nav ul {
        display: block;
        width: 100%;
        /*border-top: 2px solid black;*/
        /*border-bottom: 2px solid black;*/
        margin: 0 auto;
        padding: 0;
        /*float: right;*/
        /*vertical-align: middle;*/
        box-shadow: 0 1.5px 0 #000000, 0 -1.5px 0 #000000;
    }
    nav ul li {
        display: block;
        float: left;
        width: 25%;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 3rem;
    }
    h1 {
        width: 100%;
        text-align: center;
        /*height: 6rem;*/
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /*    .portfolio-banner {
        background-color: white;
        position: absolute;
        top: 2rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .portfolio-description, .portfolio-banner h2 {
        margin: 0 auto;
        text-align: center;
    }*/
}

@media screen and (min-width: 950px) {
    body {
        /*padding: 0 2rem;*/
    }
}