.doubleimage {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.doubleimage img {
    display: inline-block;
    float: left;
    max-width: 49.3%;
    /*margin: 0 0 1.4% 0;*/
    padding: 0 0 1.4% 0;
}

.doubleimage img:nth-child(even) {
    margin-left: 1.4%;
}

.doubleimage img:nth-child(1n+3) {
    /*margin-bottom: 0%;*/
}

@media screen and (max-width: 800px) {
    .doubleimage img {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0 0 2.8% 0;
    }
    .doubleimage img:nth-child(even) {
        margin-left: 0%;
    }
}