nav {
    /*margin-top: 0.75em;*/
    font-family: 'EBG12-SC';
    text-transform: lowercase;
    /*background-color: cyan;*/
    /*float: left;*/
    font-size: 1.25em;
    /*line-height: 1em;*/
}

nav a {
    text-decoration: none;
}

nav a:hover {
    border-bottom: 0.2em solid black;
}

nav ul {

    display: block;
    /*clear: both;*/
    /*position: relative;*/
    /*top: -250px;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    /*list-style: none;*/
    line-height: 1em;
    padding: 0.27em 0 0 0;
    margin: 0;
    /*background: cyan;*/
    float: right;
    /*color: #878787;*/
}

nav ul li {
    display: inline-block;
    /*background: #B5D9A2;*/
    margin: 0em 0em 0em 1em;
    /*font-size: 1.3em;*/
}
nav ul li:first-child {
    margin: 0em 0em 0em 0em;
}

li.selected a {
    border-bottom: 0.2em solid black;
}