nav {
    padding: 1rem 0rem 1rem 0rem;
    margin: 0;
    height: 4rem;
    font-size: 1.2em;
    /*font-family: 'EBG12-SC';*/
    font-family: 'Inconsolata';
    /*font-family: "EBG12-It";*/
    /*text-transform: lowercase;*/
}

nav a {
    text-decoration: none;
}

nav ul {
    display: inline-block;
    float: right;
    /*vertical-align: middle;*/
}

nav ul li {
    display: inline-block;

    /*font-family: "EBG12-Re";*/
    /*font-size: 0.85em;*/
    line-height: 4rem;
    /*vertical-align: baseline;*/
    margin: 0em 0em 0em 1em;
}

li.selected a, nav a:hover {
    /*border-bottom: 3px solid black;*/
    /*line-height: 4rem;*/
    display: inline-block;
    line-height: 2rem;
    /*background: yellow;*/
    box-shadow: inset 0px 0px white, inset 0px -1.5px black;
}