nav {
    /*padding: 0 2rem;*/
    margin: 0;
    height: 4rem;
    font-size: 1.3em;
    font-family: 'EBG12-SC';
    text-transform: lowercase;
}

nav a {
    text-decoration: none;
}

nav ul {
    display: inline-block;
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 4rem;
    vertical-align: middle;
    margin: 0em 0em 0em 1em;
}