.mosaic {
    line-height: 1.3;
    padding-top: 0em;
}

.portfolio-item {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
    /*height: 300px;*/
    /*color: #ffffff;*/
    position: relative;
}

.portfolio-item:last-child {
    margin: 0;
}

.thumbnail {
    /*float: left;*/
    /*    width: 250px;
    height: 250px;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*background: #000000;*/
    /*width: 1000px;*/
}

.thumbnail img {
    /*width: 100%;*/
    /*height: 50%;*/
    width: 100%;
}

.portfolio-banner {
    background-color: white;
    position: absolute;
    top: 2rem;
    display: block;
    float: left;
    margin: 0;
    padding: 2rem 3rem;
    /*border-bottom: 5px solid black;*/
}

.portfolio-banner h2 {
    /*background-color: green;*/
    font-style: normal;
    /*font-family: 'EBG12-SC';*/
    font-family: 'Inconsolata';
    font-size: 1.75em;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.portfolio-banner p {
    padding: 0;
    margin: 0;
    /*line-height: 1.5em;*/
    text-align: center;
}

.portfolio-banner a {
    /*    z-index: 20;
    width: 100%;
    height: 100%;*/
}

.portfolio-logo {
    float: left;
    padding: 0 0em 0 0;
    margin: 0;
    overflow: hidden;
}

.portfolio-logo img {
    display: none;
    height: 3em;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

.portfolio-description {
    /*background-color: yellow;*/
    float: left;
    margin: 0;
    padding: 0 0em 0 0;
    line-height: 1.5em;
}
@media screen and (min-width: 950px) {
    .portfolio-description h2 {
        text-align: left;
    }
}