img.m-parabolic-drop-caps {
    /*display: inline-block;*/
    width: 10em;
    /*max-width: 10em;*/
    /*margin: 0 auto;*/
    /*margin-right: 0.5rem;*/
    margin: 0.5rem 1.0rem 0.5rem 0.0rem;
    /*margin-bottom: 1rem;*/
    display: inline-block;
    float: left;
}

img.parabolic-animation-1 {
    width: 100%;
    max-width: 450px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}