img.m-parabolic-drop-caps {
    /*display: inline-block;*/
    width: 10em;
    /*max-width: 10em;*/
    /*margin: 0 auto;*/
    /*margin-right: 0.5rem;*/
    margin: 0.5rem 1.0rem 0.5rem 0.0rem;
    /*margin-bottom: 1rem;*/
    display: inline-block;
    float: left;
}

img.w-parabolic-drop-caps {
    /*display: inline-block;*/
    width: 11.9em;
    /*max-width: 10em;*/
    /*margin: 0 auto;*/
    /*margin-right: 0.5rem;*/
    margin: 0.4rem 0.9rem 0rem 0.0rem;
    /*margin-bottom: 1rem;*/
    display: inline-block;
    float: left;
}

img.parabolic-drawing {
    width: 100%;
    max-width: 450px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}

img.parabolic-drawing-2 {
    width: 100%;
    max-width: 250px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}

img.drawing {
    /*display: inline-block;*/
    max-width: 450px;
    margin: 2em auto 0em auto;
}

.drawing-caption {
    display: block;
    /*background: yellow;*/
    /*border: 1px solid red;*/
    max-width: 450px;
    font-family: 'EBG08-It';
    margin: 0 auto 2em auto;
    /*float: left;*/
    font-size: 0.8em;
    text-align: right;
    line-height: 1.25em;
}

img.parabolic-animation-1 {
    width: 100%;
    max-width: 450px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}

img.parabolic-animation-2 {
    width: 100%;
    max-width: 520px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}

img.waves-mult {
    width: 100%;
    max-width: 650px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}

img.tilted-wave {
    width: 100%;
    max-width: 650px;
    /*margin: 0 auto;*/
    margin: 2em auto;
}