img.paramsquare-drop-caps {
    /*display: inline-block;*/
    width: 6em;
    /*max-width: 10em;*/
    /*margin: 0 auto;*/
    /*margin-right: 0.5rem;*/
    margin: 0.5rem 1.0rem 0.0rem 0.0rem;
    /*margin-bottom: 1rem;*/
    display: inline-block;
    float: left;
}

img.abcd {
    /*display: inline-block;*/
    max-width: 250px;
    margin: 2em auto;
}

img.interpolation {
    /*display: inline-block;*/
    max-width: 450px;
    margin: 2em auto;
}

img.interpolation-animation {
    /*display: inline-block;*/
    max-width: 450px;
    margin: 2em auto;
}


.tripleimage {
    display: inline-block;
    padding-top: 2.8%;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: middle;
    margin: 0 auto;
    /*background-color:blue;*/
}

.tripleimage img {
    display: inline-block;
    float: left;
    max-width: 33.33%;
    /*margin: 0 0 1.4% 0;*/
    padding: 0 0 1.4% 0;
}

.tripleimage a:nth-child(even) img {
    margin-left: 1.4%;
}

.tripleimage a:nth-child(1n+3) img {
    /*margin-bottom: 0%;*/
}