#carreaux {
    max-width: 500px;
    margin: 0 auto;
}
img.inline-figure {
    /*display: inline-block;*/
    max-width: 580px;
    margin: 2em auto;
}

img.abcd {
    /*display: inline-block;*/
    max-width: 450px;
    margin: 2em auto;
}
img.pavasym {
    /*display: inline-block;*/
    max-width: 650px;
    margin: 2em auto;
}

.doubleimage {
    display: inline-block;
    padding-top: 2.8%;
    padding-bottom: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.doubleimage img {
    display: inline-block;
    float: left;
    max-width: 49.3%;
    /*margin: 0 0 1.4% 0;*/
    padding: 0 0 1.4% 0;
}

.doubleimage a:nth-child(even) img {
    margin-left: 1.4%;
}

.doubleimage a:nth-child(1n+3) img {
    /*margin-bottom: 0%;*/
}

#imagetop {
    padding-top: 0;
}

img.singleimage {
    display: block;
    /*border: 1px solid red;*/
    width: 100%;
    margin: 0;
    padding: 0 0 1.4% 0;
}

@media screen and (max-width: 800px) {
    .doubleimage img {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0 0 2.8% 0;
    }
    .doubleimage a:nth-child(even) img {
        margin-left: 0%;
    }
    img.singleimage {
        padding: 0 0 2.8% 0;
    }
}


.imagedouble-top {
    display: inline-block;
    /*margin-bottom: 1em;*/
    padding-bottom: 0em;
}

.imagedouble-top img {
    display: block;
    float: left;
    max-width: 49.3%;
    margin: 0 0 1.4% 0;
    padding: 0;
}

.imagedouble-top a:nth-child(even) img {
    margin-left: 1.4%;
}

.imagedouble-top a:nth-child(1n+3) img {
    margin-bottom: 0%;
}

.imagedouble-margin {
    display: inline-block;
    /*margin-bottom: 1em;*/
    padding-bottom: 0em;
    padding-top: 2em;
}

.imagedouble-margin img {
    display: block;
    float: left;
    max-width: 49%;
    margin: 0 0 2% 0;
    padding: 0;
}

.imagedouble-margin img:nth-child(even) {
    margin-left: 2%;
}

.imagedouble-margin img:nth-child(1n+3) {
    margin-bottom: 0%;
}


.imagedouble-margin-tilings {
    display: inline-block;
    /*margin-bottom: 1em;*/
    padding-bottom: 1em;
    padding-top: 1.25em;
}

.imagedouble-margin-tilings img {
    display: block;
    float: left;
    max-width: 49%;
    margin: 0 0 2% 0;
    padding: 0;
}

.imagedouble-margin-tilings img:nth-child(even) {
    margin-left: 2%;
}

.imagedouble-margin-tilings img:nth-child(1n+3) {
    margin-bottom: 0%;
}

.imagedouble {
    display: inline-block;
    margin: 1em 0;
}

.imagedouble img {
    display: block;
    float: left;
    max-width: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0em;
}

#carreaux {
    max-width: 500px;
    margin: 0 auto;
}

.possibilities {
    float: left;
    display: inline-block;
}
img.possibilities {
    display: inline-block;
    padding-top: 0.25em;
    padding-right: 0.8em;
    width: 5.9em;
}

#showreel {
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff,
    2px 0 0 #fff, -2px 0 0 #fff,
    3px 0 0 #fff, -3px 0 0 #fff,
    0px -1px 0 #fff, 0px -2px 0 #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff,
    -2px -1px 0 #fff, 2px -1px 0 #fff;
}

.tightkern {
    margin-right: 0.03em;
}

.keys {
    padding: 0 0.4em;
    margin: 0 0.1em;
    border: 1px solid #000000;
    box-shadow: 1px 1px #000000;
    position: relative;
    bottom: 0.12em;
}

#normalmode span:hover,
#wavymode span:hover,
#manual span:hover,
#showreel span:hover {
    box-shadow: 0px 1px black, inset 0px -1px white, inset 0px -2px black;
}

#abcdmode span:hover,
#efmode span:hover,
#efonly span:hover {
    box-shadow: 0px 1px white, 0px 2px black;
    border-bottom: 1px solid black;
}

#tiling-generator {
    width: 100%;
    display: block;
    margin: 1em 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#download {
    cursor: pointer;
    box-shadow: inset 0px -1px white, inset 0px -2px black;
}

#download:hover .small-caps {
    box-shadow: 0px 1px black, inset 0px -1px white, inset 0px -2px black;
}

#download #Genericons {
    background-color: white;
}