#carreaux {
    max-width: 500px;
    margin: 0 auto;
}
img.inline-figure {
    /*display: inline-block;*/
    max-width: 580px;
    margin: 2em auto;
}

img.abcd {
    /*display: inline-block;*/
    max-width: 450px;
    margin: 2em auto;
}
img.pavasym {
    /*display: inline-block;*/
    max-width: 700px;
    margin: 2em auto;
}

.imagedouble-top {
    display: inline-block;
    /*margin-bottom: 1em;*/
    padding-bottom: 0em;
}

.imagedouble-top img {
    display: block;
    float: left;
    max-width: 49%;
    margin: 0 0 2% 0;
    padding: 0;
}

.imagedouble-top img:nth-child(even) {
    margin-left: 2%;
}

.imagedouble-top img:nth-child(1n+3) {
    margin-bottom: 0%;
}

.imagedouble-margin {
    display: inline-block;
    /*margin-bottom: 1em;*/
    padding-bottom: 0em;
    padding-top: 2em;
}

.imagedouble-margin img {
    display: block;
    float: left;
    max-width: 49%;
    margin: 0 0 2% 0;
    padding: 0;
}

.imagedouble-margin img:nth-child(even) {
    margin-left: 2%;
}

.imagedouble-margin img:nth-child(1n+3) {
    margin-bottom: 0%;
}


.imagedouble-margin-tilings {
    display: inline-block;
    /*margin-bottom: 1em;*/
    padding-bottom: 1em;
    padding-top: 1.25em;
}

.imagedouble-margin-tilings img {
    display: block;
    float: left;
    max-width: 49%;
    margin: 0 0 2% 0;
    padding: 0;
}

.imagedouble-margin-tilings img:nth-child(even) {
    margin-left: 2%;
}

.imagedouble-margin-tilings img:nth-child(1n+3) {
    margin-bottom: 0%;
}

.imagedouble {
    display: inline-block;
    margin: 1em 0;
}

.imagedouble img {
    display: block;
    float: left;
    max-width: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0em;
}

#carreaux {
    max-width: 500px;
    margin: 0 auto;
}

.possibilities {
    float: left;
    display: inline-block;
}
img.possibilities {
    display: inline-block;
    padding-top: 0.25em;
    padding-right: 0.8em;
    width: 5.6em;
}

#showreel {
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff,
    2px 0 0 #fff, -2px 0 0 #fff,
    3px 0 0 #fff, -3px 0 0 #fff,
    0px -1px 0 #fff, 0px -2px 0 #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff,
    -2px -1px 0 #fff, 2px -1px 0 #fff;
}

.tightkern {
    margin-right: 0.03em;
}