@font-face {
    font-family: '5x8 LCD';
    src: url('./fonts/5x8-LCD/5x8_lcd_hd44780u_a02.eot') format('eot'),
    url('./fonts/5x8-LCD/5x8_lcd_hd44780u_a02.woff') format('woff'),
    url('./fonts/5x8-LCD/5x8_lcd_hd44780u_a02.ttf') format('truetype'),
    url('./fonts/5x8-LCD/5x8_lcd_hd44780u_a02.svg#5x8-LCD-HD44780U-A02') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lcd-text {
    font-family: '5x8 LCD', serif;
    font-size: 16.27px;
    margin-left: 2px;
    margin-right: -2px;
    line-height: 0.5em;
    /*line-height: 16px;*/
    /*color: rgba(0, 0, 0, 0.8);*/
    /*position: absolute;*/
    /*top: 8px;*/
    /*left: 5px;*/
}

.sidenote-left .lcd-text, .sidenote .lcd-text {
    font-family: '5x8 LCD', serif;
    font-size: 12px;
    margin-left: 2px;
    margin-right: -2px;
    line-height: 0.5em;
    /*line-height: 16px;*/
    /*color: rgba(0, 0, 0, 0.8);*/
    /*position: absolute;*/
    /*top: 8px;*/
    /*left: 5px;*/
}

.lcd-text-title {
    font-family: '5x8 LCD', serif;
    font-size: 30px;
    margin-left: 5px;
    line-height: 0.5em;
    margin-top: 10px;
    position: relative;
    /*top: 0.015em;*/
    /*line-height: 16px;*/
    /*color: rgba(0, 0, 0, 0.8);*/
    /*position: absolute;*/
    /*top: 8px;*/
    /*left: 5px;*/
}

.blog-post-header .lcd-text-title {
    font-family: '5x8 LCD', serif;
    font-size: 21px;
    margin-left: 4px;
    line-height: 0.5em;
    margin-top: 10px;
    /*line-height: 16px;*/
    /*color: rgba(0, 0, 0, 0.8);*/
    /*position: absolute;*/
    /*top: 8px;*/
    /*left: 5px;*/
}